:root {
  --grey: #dedede;
  --black: #111;
}

.Form {
  border: 1px solid var(--grey);
  width: 80%;
  margin: 0 auto;
  text-align: left;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 1rem;
}

.Form h1 {
  padding: 1rem;
  font-weight: 300;
}

.Form div {
  margin: 1rem;
}

.Form input {
  padding: 2px;
  margin-left: 5px;
  border: none;
  font-size: 1rem;
  border-bottom: 1px solid var(--grey);
}

.Form textarea,
.Form select {
  margin-left: 5px;
  border: none;
  border: 1px solid var(--grey);
  background-color: inherit;
}

.Form textarea:focus {
  border: none;
  outline: none;
  border: 1px solid var(--black);
}

.Form select:focus,
.Form input:focus {
  border: none;
  outline: none;
  border-bottom: 1px solid var(--black);
}

.Form select[multiple]:focus {
  outline: none;
  border: 1px solid var(--black);
}

.Form .submit-container {
  text-align: center;
}

.Form input[type='submit'] {
  border: none;
  background-color: inherit;
  border: 1px solid var(--grey);
  padding: 10px;
}

.Form input[type='submit']:focus,
.Form input[type='submit']:focus {
  border-color: var(--black);
  outline: none;
}
